*.aux
*.idx
*.ilg
*.ind
*.log
*.olean
*.tex
*.toc
/.vscode
/Licencia
/Makefile
/README.html
/_minted-Logica_con_Lean/
/_target
/estilo.css
/excluido
/leanpkg.path
/videos
*.out
/Pendientes.org
/temas
/clases
/.README.html.native.pandoc
/_minted*/
/.Logica_con_Lean.html.native.pandoc
/src/8_Inductivos/zzz.lean
